.search-input {
  padding: 6px 10px 6px 40px;
  border: 1px solid lightgray;
  border-radius: 8px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.select-drop {
  border: 1px solid lightgrey;
  border-radius: 8px;
  padding: 8px;
}

.dashboard-cont {
  height: 88%;
  overflow-y: auto;
  overflow-x: hidden;
}